<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <title>Json格式化查看工具</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/fe-qrcode.css" />
        <script type="text/javascript" src="../static/js/core/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../static/js/mod/mod_qrcode.js"></script>
    </head>
    <body>
        <div class="mod-qrcode">
            <div class="qr-item clearfix">
                <fieldset>
                    <legend>生成QR码</legend>
                    <div>
                        原始数据:&nbsp;<textarea id="source"></textarea>
                        <a href="#" id="btnDemo">隐藏demo</a>
                    </div>
                    <div id="demo">
                        <div class="item">
                            <span class="title">名片</span>
                            <span class="content">
                                CARD:N:Alien;TIL:WEB前端工程师;DIV:某部门;COR:某IT公司;ADR:北京市海淀区;ZIP:100085;TEL:保密;M:保密;EM:admin@baidufe.com;URL:http://www.baidufe.com;;
                            </span>
                            <a href="#" class="test">试用</a>
                        </div>
                        <div class="item">
                            <span class="title">网址</span>
                            <span class="content">
                               http://www.baidufe.com;;
                            </span>
                            <a href="#" class="test">试用</a>
                        </div>
                    </div>
                    <div>
                        图片尺寸:&nbsp;<input type="text" id="size" value="4"> 
                        <button id="btnQR">生成</button>
                    </div>
                </fieldset>

                <div id="qrResult"></div>
            </div>
        </div>
    </body>
</html>