
.fe-whole-page {
    font-size: 14px;
    user-select: none;
    padding: 0;
    margin: 0;
    width: 152px;
    position: relative;
    overflow: hidden;
}

.fe-hide {
    display: none;
}

.fe-function-title {
    padding: 5px;
    color: #522;
    font-weight: bolder;
    cursor: default;
    border-bottom: 1px dotted #aaa;
    text-align: center;
    font-size: 12px;
}

.fe-function-title span {
    font-weight: normal;
    color: #e1e1e1;
}

ul.fe-function-list {
    padding: 0 10px;
    list-style: none;
    width: 130px;
}

ul.fe-function-list li {
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    color: #555;
    -webkit-transition: all .4s ease;
    text-align: justify;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 116px;
    border-bottom: 1px dashed #e5e5e5;
}

ul.fe-function-list li:last-child {
    border-bottom: none;
}

ul.fe-function-list li:hover {
    color: #ff3C11;
    background: #f1f1f1;
}

ul.fe-function-list li > span {
    padding-left: 24px;
}

ul.fe-function-list li:after {
    content: ' ';
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 0;
}

ul.fe-function-list li > b {
    width: 14px;
    height: 14px;
    background: url(../popup/ui-icons.png) no-repeat;
    -webkit-transition: all .5s ease;
    display: inline-block;
    margin-right: 5px;
}

ul.fe-function-list li:hover > b {
    -webkit-transform: rotate(360deg);
}

ul.fe-function-list li.-x-fcp b {
    background-position: 0 -143px;
}

ul.fe-function-list li.-x-regexp b {
    background-position: -144px 1px;
}

ul.fe-function-list li.-x-endecode b {
    background-position: -113px -80px;
}

ul.fe-function-list li.-x-loadtime b {
    background-position: -81px -111px;
}

ul.fe-function-list li.-x-jsonformat b {
    background-position: -224px -111px;
}

ul.fe-function-list li.-x-qrcode b {
    background-position: -81px -209px;
}

ul.fe-function-list li.-x-codebeautify b {
    background-position: -64px -144px;
}

ul.fe-function-list li.-x-tracker b {
    background-position: -31px -64px;
}

ul.fe-function-list li.-x-timestamp b {
    background-position: 0 -160px;
}

ul.fe-function-list li.-x-codecompress b {
    background-position: -65px -80px;
}

ul.fe-function-list li.-x-base64 b {
    background-position: -33px -208px;
}

ul.fe-function-list li.-x-colorpicker b {
    background-position: -64px -112px;
}

ul.fe-function-list li.-x-ajax-debugger b {
    background-position: -81px -127px;
}

ul.fe-function-list li.-x-markdown b {
    background-position: -83px -222px;
}

ul.fe-function-list li.-x-pagecapture b {
    background-position: -16px -111px;
}

ul.fe-function-list li.-x-password b {
    background-position: -144px -95px;
}
ul.fe-function-list li.-x-jsondiff b {
    background-position: -113px -111px;
}


ul.fe-function-list li i {
    color: #aaa;
    font-weight: 700;
    font-style: normal;
}

.fe-feedback {
    font-size: 12px;
    border-top: 1px dotted #ddd;
    padding: 5px 15px;
    line-height: 20px;
    color: #888;
}

.fe-feedback a {
    color: #888;
    text-decoration: none;
    text-align: left;
}

.fe-feedback a:hover {
    color: #c00;
}

svg:not(:root) {
    overflow: hidden;
}

.fe-feedback svg {
    vertical-align: text-bottom;
    display: inline-block;
    fill: currentColor;
}

.fe-feedback img {
    opacity: 0.6;
    position: relative;
    top: 1px;
}
.fe-feedback a:hover img {
    opacity: 1.0;
}

.fe-feedback .x-settings {
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.fe-feedback .x-settings:hover {
    color: #c00;
}
.fe-feedback .x-fb,
.fe-feedback .x-settings
{
    float: right;
}