@import url("../static/css/bootstrap.min.css");

#srcText {
    height: 150px;
}
#rstCode {
    height: 330px;
    width: 100%;
    border:none;
    padding: 5px;
    resize:vertical;
    background:#000;
    color:#fff;
}

#rstCode::selection {
    background: #faf2cc ;
}

.ui-ml-05 {
    margin-left: 5px;
}
.x-preview {
    height: auto;
    word-break: break-all;
    white-space: pre-wrap;
}
.x-xdemo,.x-switch {
    margin-left: 30px;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.x-xdemo:hover,.x-switch:hover {
    color: #cc8841;
}
.x-switch {
    color:#f00;
    border-bottom: 1px solid #f00;
}