@import url("../static/css/bootstrap.min.css");

html,body {
    background: #fff;
}
.wrapper {
    width:auto;
}

.table {
    font-size: 14px;
}

.mod-inputs {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #eee;
}
.x-res-item {
    margin: 5px 0;
}
