<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <title>代码压缩工具</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/fe-codecompress.css" />
        <script type="text/javascript" src="../static/js/core/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../static/js/mod/mod_codecompress.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="panel panel-default" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="http://www.baidufe.com/fehelper/feedback.html" target="_blank" class="x-a-high">
                        <img src="../static/img/fe-16.png" alt="fehelper"/> FeHelper</a>：Javascript代码压缩
                    <a class="x-xother" href="https://www.baidufe.com/fehelper/codecompress.html" target="_blank">CSS+HTML代码在线压缩&gt;&gt;</a>
                </h3>
            </div>
        </div>
        <div class="panel-body mod-code">

            <div class="row">
                <textarea class="form-control mod-textarea" id="codeSource" placeholder="在这里粘贴需要进行压缩的代码"></textarea>
            </div>
            <div class="row ui-mt-10 ui-mb-10 text-right">
                <button id="btnFormat" class="btn btn-success">压缩</button>
            </div>

            <div class="row rst-item">
                <textarea class="form-control mod-textarea" id="jfContent" placeholder="压缩后的代码将在这里显示"></textarea>
            </div>
        </div>
    </div>
    </body>
</html>
