<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <title>代码美化工具</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/fe-codebeautify.css" />
        <script type="text/javascript" src="../static/js/core/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../static/js/mod/mod_codebeautify.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="panel panel-default" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="http://www.baidufe.com/fehelper/feedback.html" target="_blank" class="x-a-high">
                        <img src="../static/img/fe-16.png" alt="fehelper"/> FeHelper</a>：代码美化 - <span id="codeTitle">Javascript</span></h3>
            </div>
        </div>
        <div class="panel-body mod-code">

            <div class="row">
                <textarea class="form-control mod-textarea" id="codeSource" placeholder="在这里粘贴需要进行美化的代码"></textarea>
            </div>
            <div class="row ui-mt-10">

                <div class="radio ui-d-ib">
                    <label><input id="codeTypeJs" name="codeType" type="radio" value="Javascript" checked>JS代码美化</label>
                </div>

                <div class="radio ui-d-ib ui-ml-10">
                    <label><input id="codeTypeCss" name="codeType" type="radio" value="CSS">CSS代码美化</label>
                </div>

                <div class="radio ui-d-ib ui-ml-10">
                    <label><input id="codeTypeHTML" name="codeType" type="radio" value="HTML">HTML代码美化</label>
                </div>

                <div class="radio ui-d-ib ui-ml-10">
                    <label><input id="codeTypeXML" name="codeType" type="radio" value="XML">XML代码美化</label>
                </div>

                <div class="radio ui-d-ib ui-ml-10">
                    <label><input id="codeTypeSQL" name="codeType" type="radio" value="SQL">SQL代码美化</label>
                </div>

                <button id="btnFormat" class="btn btn-success ui-fl-r">格式化</button>
            </div>
            <div class="row" id="jfContent"></div>
        </div>
    </div>
    </body>
</html>
