<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <title>Json格式化查看工具</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/fe-jsonformat.css" />
        <script type="text/javascript" src="../static/js/core/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../static/js/mod/mod_jsonformat.js"></script>
    </head>
    <body>
        <div class="mod-json">
            <div class="format-item clearfix">
                <fieldset>
                    <legend>JSON格式化查看：请在下面粘贴你的JSON字符串</legend>
                    <textarea id="jsonSource" placeholder="在这里粘贴您需要进行格式化的JSON代码"></textarea>
                    <div><button id="btnFormat" class="-e-btn">格式化</button></div>
                </fieldset>
            </div>

            <div class="rst-item">
                <div id="formattingMsg">
                    <svg id="spinner" width="16" height="16" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <path d="M 150,0 a 150,150 0 0,1 106.066,256.066 l -35.355,-35.355 a -100,-100 0 0,0 -70.711,-170.711 z" fill="#3d7fe6"></path>
                    </svg>
                    加载中...
                </div>
                <div id="jfContent"></div>
                <pre id="jfContent_pre"></pre>
            </div>
        </div>
    </body>
</html>
