@import "../static/css/bootstrap.min.css";
@import "../popup/index.css";

.wrapper {
    width:940px;
}
#pageContainer label {
    font-weight: normal;
}

#pageContainer h4 {
    color: #888;
    font-size: 18px;
}

fieldset {
    padding: 10px;
    margin: 10px;
    border:1px solid #ddd;
}
fieldset legend {
    font-size: 12px;
    width: auto;
    border:none;
    padding:0 10px;
    margin-bottom: 5px;
}
.fe-whole-page {
    border: 1px solid #ddd;
    box-shadow: 0 0 50px 1px;
    width: 150px;
}

ul.fe-function-list li {
    padding: 0;
    height: 28px;
    line-height: 28px;
}

h5,h4 {
    border-bottom : 1px solid #eee;
    padding-bottom: 5px;
    width: 60%;
}

#MAX_JSON_KEYS_NUMBER {
    width: 80px;
    height: auto;
    display: inline-block;
    padding: 4px 10px;
}
.x-disabled {
    opacity: 0.2;
}
.x-disabled .box-mpreview ul.x-menus li:hover {
    background-color: transparent;
    color: inherit;
}
.b-firefox .x-disabled {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: double;
}
.row-line {
    line-height: 24px;
}
.box-preview {
    position: relative;
    left: 10px;
    top: -40px;
    border-left: 1px solid #f1f1f1;
    padding-left: 24px;
    width: 300px;
}
.ul-menu {
    width: 550px;
    list-style: none;
    user-select: none;
}
.ul-menu li {
    float: left;
    width: 160px;
}
.ct-menu {
    position: relative;
}
.ct-popup .ct-fun{
    width: 550px;
}
.box-mpreview {
    position: relative;
    left: 560px;
    top: -407px;
    width: 450px;
    margin-bottom: -547px;
    border-left: 1px solid #f1f1f1;
    user-select:none;
}
.box-mpreview h5 {
    margin: 0 0 -10px 20px;
}
.box-mpreview ul.x-menus {
    position: relative;
    top: -145px;
    left: 210px;
    background: #f2f2f2;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 3px 0;
    list-style: none;
    width: 160px;
}
.box-mpreview ul.x-menus li {
    padding: 2px 20px;
    font-weight: 500;
    font-size: 14px;
}
.box-mpreview ul.x-menus li:hover {
    background-color: #276cf9;
    color: #fff;
    cursor: default;
}
#setShortcuts {
    font-size: 14px;
    text-decoration: underline;
    color: #666;
    display: inline-block;
    margin-bottom: 5px;
}
#setShortcuts:hover {
    color:#f00;
}
.x-tips {
    font-size: 12px;
    color: #aaa;
}
.x-donate {
    font-size: 14px;
    color: #d00;
    margin-left: 10px;
    text-decoration: underline;
    text-decoration-style: double;
}
.box-donate {
    position: absolute;
    top: 60px;
    left: 150px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
}