body {
	font-family:"MS Sans Serif";
	font-size:14px;
}
.mod-body-inner {
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.fe-opt-header {
	width:100%;
    background: #fff;
}
.fe-opt-header .bar{
	height:30px;
	width:100%;
	background:rgba(111, 178, 248, 0.1);
    border-bottom: 2px solid #ccc;
	clear:both;
    line-height: 20px;
}
.fe-opt-header .bar:after {
	content:"\20";
}

.fe-opt-header .bar .text{
	padding:5px;
    float: left;
}
.fe-opt-header .bar img {
    float: left;
    margin: 3px 0 0 3px;
}

.fe-opt-content {
}
.fe-opt-content .left{
	width:200px;
	border-right:5px solid #def;
}
.fe-opt-content .left ul{
	margin:0;
	padding:5px;
}
.fe-opt-content .left li{
	padding:6px 0 6px 20px;
	cursor:default;
	margin:4px 0;
	list-style:none;
}
.fe-opt-content .right ul{
	margin:0px;
	padding:5px;
}
.fe-opt-content .right ul li{
	margin:0 0 0 20px;
	padding:5px;
    line-height: 24px;
}
.fe-opt-content .right ul li input {
    margin-right: 20px;
}
.fe-opt-content .right ul.no-list-style li{
	margin:0;
	list-style:none;
}
.fe-opt-content fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.fe-opt-content fieldset legend{
     padding: 0 5px;
    color:#f00;
}
.fe-hide {
	display:none;
}
hr {
    height: 1px ;
    background: #ccc;
    border: none;
}
.mod-btns {
    padding: 10px;
}
.mod-btns .btn{
    margin: 5px 10px;
    cursor: pointer;
    height: 30px;
    width: 60px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.mod-btns .btn.close {
    background: #eee;
    margin-left:0;
    margin-right:20px;
}
.mod-btns .btn:hover {
    color:#b00;
}