@import url("../static/css/bootstrap.min.css");


.ui-widget {
    font-family: Arial,sans-serif;
}
.ui-widget-content {
    border:none;
}

.ui-widget-header {
    background: #fff;
    border:none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border:0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none;
    color: #48b;
    border:0;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #48b;
}

.mod-tab {
    display: none;
}
.ui-tabs {
    padding-bottom: 5em;
}
.row.x-tips {
    font-size: 14px;
    color: #aaa;
    font-style: italic;
    margin-bottom: 40px;
}
.mod-tab label {
    margin-right: 20px;
    font-weight: normal;
    font-size: 14px;
}