@import url("../static/css/bootstrap.min.css");

#srcText {
    height: 100px;
}
#rstCode {
    height: 280px;
}
.ui-ml-05 {
    margin-left: 5px;
}
.x-ps {
    color:#bbb;
}
.x-url-infos ul {
    padding:0;
    margin:0;
}
.x-url-infos ul li {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding:0;
    margin:0;
}
.x-url-infos table {
    width:700px;
}
#rst h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.x-btns {
    float: right;
    top: -6px;
    position: relative;
}
.x-opts {
    font-size: 14px;
}
.x-opts .radio,
.x-opts .checkbox{
    margin-top:0;
    margin-bottom: 0;
}
td.td-label {
    width:60px;
}
.x-opts td {
    padding:5px 0;
    vertical-align: middle;
}
.x-opts tr:first-child {
    border-bottom: 1px solid #eee;
}