@import url("../static/vendor/codemirror/codemirror.css");
@import url("../static/css/bootstrap.min.css");
@import url("./without-ui.css");

body {
    background-color: #fff;
}
.wrapper {padding-right:0}
.wp-json {
    width:auto;
}
.wp-json .mod-json {
    position: absolute;
    top: 60px;
    bottom: 0;
    right:0;
    left:20px;
}
.wp-json .mod-json .panel-txt {
    position: absolute;
    width: 500px;
    top: 15px;
    bottom: 0;
}

.wp-json .mod-json .rst-item {
    margin-left: 500px;
    position: relative;
    padding-top: 0;
    padding-bottom:20px;
}

#optionBar {
    position: fixed;
    top: 30px;
    right: 30px;
}
#jfContent_pre {
    display: none;
    padding: 10px;
}
#jsonSource,.CodeMirror {
    height: calc(100% - 50px);
    font-size: 10px;
}
#errorMsg {
    color: #f00;
    margin-left: 10px;
    float: right;
}
#jfContent {
    margin-right: 10px;
}
.x-placeholder {
    padding-top: 50px;
    text-align: center;
}
.x-placeholder img{
    width: 400px;
    opacity: 0.15;
}
.x-xdemo,a.x-xdemo {
    margin-left: 30px;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.x-xdemo:hover {
    text-decoration: underline;
}


#errorTips {
    position: fixed;
    left: 20px;
    bottom: 4px;
    z-index: 23;
    width: 500px;
    border-radius: 4px;
    box-shadow: 6px 5px 7px rgba(229, 163, 163, 0.4);
    background-color: #ffecf1;
    border: 1px solid #dbb2b2;
    overflow: auto;
    max-height: 98%;
    min-height: 100px;
    display: none;
}
#errorBtn {
    padding:5px 0 0 5px;
    font-size:16px;
    cursor:pointer;
    color:#e96969;
    left: 490px;
    background: #ffecf1;
    position: fixed;
    z-index: 100;
}
#errorBtn:hover {
    opacity:0.6;
}
#errorCode .errorEm {
    background-color:#ff921b;
}
#errorTarget {
    color:#000;
    background-color:#fff;
}
#errorCode {
    padding:0 10px 10px;
    word-break: break-all;
    margin-top: 30px;
}
#errorCode ol {
    padding:0 0 0 3em;
}
#errorCode .x-ph {
    color: #f00;
    font-weight: bold;
}
#tipsBox {
    color:#b4465c;
    padding: 6px 0 4px 2em;
    position: fixed;
    background-color: #ffecf1;
    width: 500px;
}
#errorCode ol li {
    padding:4px 7px 0;
    list-style-type: decimal;
    color:#b4465c;
    background-color:#fdf7f7;
}
#errorCode ol li div {
    color:#000;
}
input[type=checkbox] {
    margin-left: 20px;
}

.x-error {
    color:red;
}

/*layout-up-down：上下布局模式*/
.wp-json .mod-json.layout-up-down {
    padding: 0;
    position: static;
}
.wp-json .mod-json.layout-up-down .panel-txt {
    position: static;
    width: 100%;
    height: 300px;
    margin: 2px 0;
}
.wp-json .mod-json.layout-up-down .rst-item {
    margin-left: 0;
    margin-right: 0;
}
.wp-json .mod-json.layout-up-down #optionBar {
    position: absolute;
    top: -40px;
    right:0;
}
.wp-json .mod-json.layout-up-down .x-placeholder {
    padding-top: 0;
    text-align: left;
}


#layoutBar {margin-left:30px}
#btnLeftRight,#btnUpDown{
    -webkit-border-radius:2px;-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
    -webkit-user-select:none;background:-webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);outline: none;
    border:1px solid #aaa;color:#444;font-size:12px;margin-bottom:0px;
    position:relative;z-index:10;display:inline-block;
    padding: 0 10px;
    height: 30px;
    text-shadow:1px 1px rgba(255,255,255,0.3)}
#btnUpDown{margin-left:0;border-top-left-radius:0;border-bottom-left-radius:0;border-left:0;}
#btnLeftRight{margin-right:0;border-top-right-radius:0;border-bottom-right-radius:0;border-right:none}
#btnLeftRight:hover,#btnUpDown:hover{-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);border-color:#999;color:#222}
#btnLeftRight.selected, #btnUpDown.selected{-webkit-box-shadow:inset 0px 1px 5px rgba(0,0,0,0.2);
    background:#ebebeb -webkit-linear-gradient(#e4e4e4, #dfdfdf 40%, #dcdcdc);color:#333}