.-e-x-container {
    width:980px;
    margin:0 auto;
    padding:30px 0 50px 0;
    min-height:400px;
}
.-e-x-radio label:hover {
    color:#333;
    cursor:pointer;
}
.-e-zxl-ta-src {
    width:954px;
    height:100px;
}
.-e-x-btn  {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}
.-e-x-btn .-e-x-radio {
    float:left;
    font-size:14px;
}
.-e-x-btn .-e-btn {
    float:right;
    height:30px;
    width:70px;
    font-size:13px;
    padding:5px;
    cursor:pointer;
    background: #f1f1f1;
    border: 1px solid #aaa;
    color: #b00;
}
.-e-x-btn .-e-btn:hover {
    background: #fff;
}
.-e-x-btn .-e-clear-btn {
    margin-left:20px;
    font-weight:normal;
    color: #666;
}