body {
	font-size:14px;
	font-family:"arial","simsun";
	-webkit-user-select:none;
	padding:0;
	margin:0;
	width:150px;
	position:relative;
	overflow: hidden;
}
.fe-hide {
	display:none;
}
.fe-function-title {
	width:100%;
	padding:5px;
	color:#522;
	font-weight:bolder;
	cursor:default;
	border-bottom:1px dotted #aaa;
}
ul.fe-function-list {
	padding:0px;
	list-style:none;
}
ul.fe-function-list li {
	padding:3px 3px 3px 10px;
	cursor:pointer;
	color:#555;
	-webkit-transition:all .4s ease;
}
ul.fe-function-list li:hover {
	color:#ff3C11;
	background:#f1f1f1;
}
ul.fe-function-list li>span {
	padding-left:24px;
}
ul.fe-function-list li>b{
	width:14px;
	height:14px;
	background:url(../img/ui-icons_228ef1_256x240.png) no-repeat ;
	-webkit-transition:all .5s ease;
	position:absolute;
}
ul.fe-function-list li:hover>b {
	-webkit-transform:rotate(360deg);
}
ul.fe-function-list li.-x-fcp b {
	background-position:0px -145px;
}
ul.fe-function-list li.-x-grid b {
	background-position:-113px -113px;
}
ul.fe-function-list li.-x-fdp b {
	background-position:-162px -113px;
}
ul.fe-function-list li.-x-endecode b {
	background-position:-113px -81px;
}
ul.fe-function-list li.-x-loadtime b {
	background-position:-81px -113px;
}
ul.fe-function-list li.-x-jsonformat b {
	background-position:-224px -113px;
}
ul.fe-function-list li.-x-qrcode b {
	background-position:-81px -209px;
}
ul.fe-function-list li.-x-codebeautify b {
    background-position:-64px -145px;
}
ul.fe-function-list li.-x-tracker b {
    background-position:-193px -193px;
}
ul.fe-function-list li.-x-timestamp b {
    background-position:0px -161px;
}
.fe-feedback {
	font-size:12px;
	border-top:1px dotted #ddd;
	padding:5px 15px 5px 5px;
	text-align:right;
}
.fe-feedback  a {
	text-decoration:none;
	color:#888;
}
.fe-feedback  a:hover {
	color:#a00;
}

