html {
	background:url(../img/baidufe_bj.gif);
	font-size: 14px;
}
body{
	font-family:Arial,"simsun";
	color:#666;
}

.mod-timestamp {
	width:950px;
	margin:20px auto 0;
    padding:5px 15px;
    background: #fff;
    border: 1px solid #bbb;
}
.mod-timestamp fieldset {
	border : 1px solid #bbb;
	margin: 20px 0 50px;
}
.mod-timestamp fieldset legend {
	padding:0 5px;
	color:#000000;
}
.mod-timestamp .x-input div {
    margin: 5px 0;
}

#txtNowDate,#txtNow,#txtDesStamp,#txtSrcStamp,#txtDesDate,#txtLocale {
    width: 300px;
    height: 26px;
    line-height: 26px;
    padding:0 5px ;
    font-size: 16px;
}

#txtNowDate,#txtNow,#txtDesStamp,#txtDesDate {
    color: #f00;
    font-weight: bold;
}

#txtSrcYear,#txtSrcMonth,#txtSrcDay,#txtSrcHour,#txtSrcMinute,#txtSrcSecond {
    width: 40px;
    height: 26px;
    line-height: 26px;
    padding:0 5px ;
    font-size: 16px;
}

.-e-btn {
	height:30px;
	width:70px;
	font-size:13px;
	padding:5px;
	cursor:pointer;
    background: #f1f1f1;
    border: 1px solid #aaa;
    color: #b00;
    margin: 0 10px;
}
.-e-btn:hover {
    background: #fff;
}

.-e-x-footer {
	text-align:center;
	font-size:12px;
	margin-top:30px;
	color:#00c;
	padding:5px;
	display:none;
}
