@import url("../static/vendor/prism/prism.css");
@import url("../static/css/bootstrap.min.css");

#codeSource {
    height: 150px;
}
#btnFormat {
    outline: none;
}

.example-links {
    margin-left: 70px;
    display: inline-block;
}

.example-link {
    margin-right: 15px;
    color: #337ab7;
    text-decoration: none;
    font-size: 14px;
}

.example-link:hover {
    color: #23527c;
    text-decoration: underline;
}