@import url("../static/css/bootstrap.min.css");
@import url("../static/vendor/highlight/github.css");

html,body {
    background: #fff;
}
.wrapper {
    width:auto;
}

.table {
    font-size: 14px;
}

.mod-inputs {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 6px;
    border: 1px solid #eee;
}
.x-res-item {
    margin: 5px 0;
}
.box-prompt {
    position:fixed;
    bottom:10px;
    left:10px;
    right:10px;
    padding:10px;
    margin: 10px;
    background-color: darkslategray;
}
.box-prompt .form-control {
    height:44px;
}
.box-result {
    position: fixed;
    bottom: 100px;
    top: 70px;
    left: 10px;
    right: 10px;
    margin: 10px;
    background-color: #fff;
    border-color: #ccc;
    overflow: auto;
}
.btn-chat {
    position:absolute;
    top:20px;
    right:10px;
    height:44px;
    width:50px;
}
.box-tips {
    margin: 0 15px 0 0;
    text-align: center;
    color:#aaa;
}
ul.x-demos {
    margin: 30px 0;
}
ul.x-demos li {
    display: inline;
    margin-right: 30px;
    cursor: pointer;
    color: #fff;
    background: #333;
    padding: 15px;
    border-radius: 6px;
}
ul.x-demos li:hover {
    color:#f00;
}
.x-loading{
    margin: 0 auto;
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
}
.x-loading-inline{
    width: 60px;
}
.x-hr {
    margin: 10px 0;
}
.box-message {
    margin: 10px 15px 10px 0;
}
.box-message table {
    width:100%;
}
.box-message table td{
    padding: 10px 20px;
    vertical-align: top;
}
.x-from-fh {
    border: 1px solid #eee;
    border-width: 1px 0 1px;
    background: #f9f9f9;
}
.td-icon {
    width: 50px;
    padding-right: 0 !important;
}
b.x-time {
    font-weight: normal;
    color: #999;
}
.x-xcontent {
    margin-top: 6px;
}
.x-xcontent p {
    margin:0 0 2px 0;
}
.x-toolbox {
    font-size: 12px;
    text-align: right;
    float: right;
    color: #48b;
}
.x-toolbox .x-line {
	font-size: 12px;
	margin-left: 10px;
	color: #bbb;
}
.x-toolbox .x-tooltip:hover {
    color: red;
    cursor: pointer;
}
h3.panel-title {
    position: relative;
}
.box-setting {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    top: 27px;
    right: -16px;
    z-index: 100;
    padding: 5px;
    font-size: 14px;
    line-height: 26px;
}
.box-setting label {
    font-weight: normal;
    margin-left: 5px;
    margin-right: 20px;
}
.box-setting .x-sure {
    text-align: right;
}
.box-setting .x-sure button {
    position: relative;
    right: -30px;
}

#pageContainer fieldset {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
}
#pageContainer legend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #333;
    border: 0;
    border-bottom: 0;
}
.resp-error {
    color:red;
}
.x-xcontent table {
    width: auto;
}
.x-xcontent table th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    background: #eee;
}
.x-xcontent table td {
    border: 1px solid #ccc;
}
