@import url("../static/css/bootstrap.min.css");
@import url("./without-ui.css");

body {
    background-color: #fff;
}
.wp-json {
    width:auto;
}
.wp-json .mod-json {
    position: absolute;
    top: 60px;
    bottom: 0;
    right:0;
    left:20px;
}
.wp-json .mod-json .panel-txt {
    position: absolute;
    width: 500px;
    top: 15px;
    bottom: 0;
}

#modJsonResult {
    margin-left: 500px;
    position: relative;
    overflow-y: auto;
    padding-top: 0;
    padding-bottom:20px;
}

#optionBar {
    position: fixed;
    top: 26px;
    right: 30px;
}
#jfContent_pre {
    display: none;
    padding: 10px;
}
#jsonSource {
    height: calc(100% - 50px);
    font-size: 10px;
}
#errorMsg {
    color: #f00;
    margin-left: 10px;
    float: right;
}
#jfContent {
    margin-right: 10px;
}
.x-placeholder {
    padding-top: 50px;
    text-align: center;
}
.x-placeholder img{
    width: 400px;
    opacity: 0.15;
}
.x-xdemo,a.x-xdemo {
    margin-left: 30px;
    font-size: 12px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.x-xdemo:hover {
    text-decoration: underline;
}