@import url("../static/css/bootstrap.min.css");

body {
    background-color: #fff;
}
.wrapper {padding-right:0}
.wp-rbg {
    width:auto;
    padding-right: 20px;
    font-family: "Nunito", Arial, sans-serif;
}
.panel-iframe {
    position: absolute;
    top: 70px;
    bottom: 5px;
    right: 35px;
    left: 35px;
    text-align: center;
}
.overlay {
    position: absolute;
    top: 70px;
    right: 20px;
    left: 20px;
    height: 700px;
    opacity: 0.95;
    z-index: 1;
    padding-top:10%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%);
}
.overlay .x-btn {
    background: #4aca85;
    color: #fff;
    border: 1px solid #4aca85;
    padding: 18px 36px !important;
    border-radius: 30px;
}
.overlay .x-btn:hover {
    background: #4ada95;
}
.overlay h2 {
    font-size: 40px;
    font-weight: normal;
}
.overlay h5 {
    margin: 40px 0;
    font-size: 20px;
    font-weight: normal;
}
.overlay h5 span,
.overlay h5 a{
    color: #ee0;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    cursor: default;
}
.overlay h5 span:hover,
.overlay h5 a:hover{
    color: #ff0;
    border-bottom: 1px solid #ff0;
}
.overlay h5 span {
    color:#fff;
}
.overlay h5 a:hover {
    cursor: pointer;
}
.x-tips {
    color: #ccc;
}