@import url("../static/css/bootstrap.min.css");

.mod-timestamp{
    width:950px;
    margin:20px auto 0;
    padding:5px 15px;
    background:#fff;
    border:1px solid #bbb
}
.mod-timestamp .x-input div{
    margin:5px 0
}
#txtNowDate,#txtNow,#txtDesStamp,#txtSrcStamp,#txtDesDate,#txtLocale{
    width:300px;
}
#txtNowDate,#txtNow,#txtDesStamp,#txtDesDate{
    color:#666;
    font-weight:500
}
#txtSrcYear,#txtSrcMonth,#txtSrcDay,#txtSrcHour,#txtSrcMinute,#txtSrcSecond{
    width:40px;
}

.mod-time-input{
    width: 80px;
}
.x-sel-sec {
    display: inline-block;
    width: 80px;
}
.x-wd {
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-size: 16px;
    color: #428bca;
}
.x-cnt {
    padding:0 15px;
}
thead th {
    text-align: center;
    background: #f9f9f9;
}
.x-gmt-setting {
    display: inline-block;
    float: right;
    position: relative;
    top: -8px;
    right: -13px;
}
.x-gmt-setting select {
    width:auto;
    display: inline;
}